<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/base.css" />
    <title>Cupcakes</title>
  </head>
  <body>
    <ul id="cupcakeList"></ul>
    <div id="cupcakeFormContainer">
      <form id="cupcakeForm" method="POST" action="/api/cupcakes">
        <label for="cupcakeFlavor">Flavor</label>
        <input id="cupcakeFlavor" name="flavor" />
        <label for="cupcakeRating">Rating</label>
        <input id="cupcakeRating" name="rating" />
        <label for="cupcakeSize">Size</label>
        <input id="cupcakeSize" name="size" />
        <label for="cupcakeImageURL">Image URL</label>
        <input id="cupcakeImageURL" name="imageURL" />
        <button type="submit">Add Cupcake</button>
      </form>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cupcake.js"></script>
  </body>
</html>
